<mat-card class="example-card">
  <mat-card-content>
    <div id="wrapper">
      <div id="wLeft">  
        <ul class="nav flex-column">
          <li class="nav-item">
            <a mat-button [routerLink]="['/enroll-company', id, 'details']">Details</a>
          </li>
          <li class="nav-item">
            <a mat-button [routerLink]="['/enroll-company', id, 'details']">Contacts</a>
          </li>
          <li class="nav-item">
            <a mat-button [routerLink]="['/enroll-company', id, 'password-reset-setup']">Password Reset Setup</a>
          </li>
          <li class="nav-item">
            <a mat-button [routerLink]="['/enroll-company', id, 'details']">Single Sign On</a>
          </li>
          <li class="nav-item">
            <a mat-button [routerLink]="['/enroll-company', id, 'details']">Fleet Monitoring</a>
          </li>
        </ul>
      </div>
      <div id="wRight">  
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-card-content>
</mat-card>
