<div>
    <mat-divider></mat-divider>

    <mat-card class="example-card">
        <mat-card-header>
            <div *ngIf="setupValidationRequired">
                <mat-card-title>Password-Reset Setup</mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step>
                    <ng-template matStepLabel>Process</ng-template>
            
                    <ul>
                        <li>The password reset is done for the Organization SSO.</li>
                        <li>Opstinuuum does not store your Organization's password.</li>
                        <li>User must do 2FA before setting up the password.</li>
                        <li>It will set a new password which is required to be changed on first login.</li>
                    </ul>
            
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>freeOTP</ng-template>
                    <a href="https://itunes.apple.com/us/app/freeotp-authenticator/id872559395?mt=8">
                        <img src="asset/img/ios.png" alt="iOS"/></a>
                    <a href="https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp">
                        <img src="asset/img/android.png" alt="Android" /></a>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Scan QRCode</ng-template>
                    
                    <ngx-qrcode 
                        [qrc-value] = "value"
                        qrc-class = "aclass"
                        qrc-errorCorrectionLevel = "L">
                    </ngx-qrcode>
            
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
            
                <mat-step>
                    <ng-template matStepLabel>Validate</ng-template>
                    
                    <form class="example-form" #userRegistrationForm="ngForm" (ngSubmit)="validateToken()">
            
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Token" [(ngModel)]="token" name="token">
                        </mat-form-field>
                        <button mat-raised-button class="submit-btn" type="submit">Validate</button>
                    </form>
                            
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
                
        </mat-card-content>
    </mat-card>

    
</div>