<div *ngIf="setupValidationRequired">
    <div>
        <mat-divider></mat-divider>
        <mat-card class="example-card">
            <mat-card-header><div class="container">Choose Authenticaion Method</div></mat-card-header>

            <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="authenticationMethod">
                <div class="container">
                    <br>
                    <br>
                    
                    <table>
                        <tr>
                            <div *ngIf="freeOtpAppAuthentication">
                                <td><mat-radio-button value="freeOtpAppAuthentication">FreeOTP App Authentication</mat-radio-button></td>
                            </div>
                        </tr>
                        <tr>
                            <div *ngIf="googleAppAuthentication">
                                <td><mat-radio-button value="googleAppAuthentication">Google App Authentication</mat-radio-button></td>
                            </div>
                        </tr>
                        <tr>
                            <div *ngIf="smsAuthentication">
                                <td><mat-radio-button value="smsAuthentication">Phone SMS Authentication</mat-radio-button></td>
                            </div>
                        </tr>
                        <tr>
                            <div *ngIf="whatsAppAuthentication">
                                <td><mat-radio-button value="whatsAppAuthentication">WhatsApp Authentication</mat-radio-button></td>
                            </div>
                        </tr>
                    </table> 

                </div>
                </mat-radio-group>
                
                <br/>
                <div class="container"><button mat-raised-button (click)="preferredAuthenticationMethod()" class="submit-btn" type="submit">Update</button></div>
            </mat-card-content>
        </mat-card>
    </div>                
</div>
<div *ngIf="!setupValidationRequired">
    <div>
        <mat-divider></mat-divider>
        <mat-card class="example-card">
            <mat-card-header><div class="container">Reset Password</div></mat-card-header>

            <mat-card-content>

                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                    <mat-step>

                        <ng-template matStepLabel>Validate OTP</ng-template>
                        <div>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="OTP Code" name="otpCode">
                            </mat-form-field>
                            <button mat-button (click)="goForward(stepper)">Validate</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        
                        <ng-template matStepLabel>Reset Password</ng-template>

                        <form #enrollCompanyForm="ngForm" (ngSubmit)="updatePassword()">
                            <mat-form-field class="full-width">
                              <input matInput placeholder="Password" name="password">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Confirm Password" name="confirm-password">
                            </mat-form-field>
                            <br/>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button type="submit">Update Password</button>
                            </div>
                        </form>
                </mat-step>

                </mat-horizontal-stepper>


            </mat-card-content>
        </mat-card>
    </div>                
</div>