.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-form-field {
    width: 80%;
}

form {
    text-align: center;
  }

  ::ng-deep .mat-horizontal-stepper-content[aria-expanded="false"] {
    width: 0px !important;
  } 