<div *ngIf="setupValidationRequired">
    <div>
        <mat-divider></mat-divider>
        <mat-card class="example-card">
            <mat-card-header>Choose Authenticaion Method</mat-card-header>

            <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="authenticationMethod">
                    <div *ngIf="freeOtpAppAuthentication">
                        <mat-radio-button value="freeOtpAppAuthentication">FreeOTP App Authentication</mat-radio-button>
                    </div>
                    <div *ngIf="googleAppAuthentication">
                        <mat-radio-button value="googleAppAuthentication">Google App Authentication</mat-radio-button>
                    </div>
                    <div *ngIf="smsAuthentication">
                        <mat-radio-button value="smsAuthentication">Phone SMS Authentication</mat-radio-button>
                    </div>
                    <div *ngIf="whatsAppAuthentication">
                        <mat-radio-button value="whatsAppAuthentication">WhatsApp Authentication</mat-radio-button>
                    </div>
                </mat-radio-group>
                <br/>
                <button mat-raised-button (click)="preferredAuthenticationMethod()" class="submit-btn" type="submit">Update</button>

            </mat-card-content>
        </mat-card>
    </div>                
</div>