<div style="margin-left:45px; width:100%;">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="System Info">
      <table>
        <thead>
        <th>Property</th>
        <th>Value</th>
        </thead>
        <tbody>
        <tr>
          <td>Computer Name</td>
          <td>{{enrollment.host_details.system_info.computer_name}}</td>
        </tr>
        <tr>
          <td>CPU Brand</td>
          <td>{{enrollment.host_details.system_info.cpu_brand}}</td>
        </tr>
        <tr>
          <td>CPU Logical Cores</td>
          <td>{{enrollment.host_details.system_info.cpu_logical_cores}}</td>
        </tr>
        <tr>
          <td>CPU Physical Cores</td>
          <td>{{enrollment.host_details.system_info.cpu_physical_cores}}</td>
        </tr>
        <tr>
          <td>CPU SubType</td>
          <td>{{enrollment.host_details.system_info.cpu_subtype}}</td>
        </tr>
        <tr>
          <td>CPU Type</td>
          <td>{{enrollment.host_details.system_info.cpu_type}}</td>
        </tr>
        <tr>
          <td>Hardware Model</td>
          <td>{{enrollment.host_details.system_info.hardware_model}}</td>
        </tr>
        <tr>
          <td>Hardware Serial</td>
          <td>{{enrollment.host_details.system_info.hardware_serial}}</td>
        </tr>
        <tr>
          <td>Hardware Vendor</td>
          <td>{{enrollment.host_details.system_info.hardware_vendor}}</td>
        </tr>
        <tr>
          <td>Hardware Version</td>
          <td>{{enrollment.host_details.system_info.hardware_version}}</td>
        </tr>
        <tr>
          <td>Hostname</td>
          <td>{{enrollment.host_details.system_info.hostname}}</td>
        </tr>
        <tr>
          <td>Local Hostname</td>
          <td>{{enrollment.host_details.system_info.local_hostname}}</td>
        </tr>
        <tr>
          <td>Physical Memory</td>
          <td>{{enrollment.host_details.system_info.physical_memory}}</td>
        </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="OSQuery Info">
      <table>
        <thead>
        <th>Property</th>
        <th>Value</th>
        </thead>
        <tbody>
        <tr>
          <td>Build Distribution</td>
          <td>{{enrollment.host_details.osquery_info.build_distro}}</td>
        </tr>
        <tr>
          <td>Build Platform</td>
          <td>{{enrollment.host_details.osquery_info.build_platform}}</td>
        </tr>
        <tr>
          <td>Config Hash</td>
          <td>{{enrollment.host_details.osquery_info.config_hash}}</td>
        </tr>
        <tr>
          <td>Config Valid</td>
          <td>{{enrollment.host_details.osquery_info.config_valid}}</td>
        </tr>
        <tr>
          <td>Extensions</td>
          <td>{{enrollment.host_details.osquery_info.extensions}}</td>
        </tr>
        <tr>
          <td>Instance Id</td>
          <td>{{enrollment.host_details.osquery_info.instance_id}}</td>
        </tr>
        <tr>
          <td>Process Id (pid)</td>
          <td>{{enrollment.host_details.osquery_info.pid}}</td>
        </tr>
        <tr>
          <td>Version</td>
          <td>{{enrollment.host_details.osquery_info.version}}</td>
        </tr>
        <tr>
          <td>Watcher</td>
          <td>{{enrollment.host_details.osquery_info.watcher}}</td>
        </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="Platform Info">
      <table>
        <thead>
        <th>Property</th>
        <th>Value</th>
        </thead>
        <tbody>
        <tr>
          <td>Address</td>
          <td>{{enrollment.host_details.platform_info.address}}</td>
        </tr>
        <tr>
          <td>Date</td>
          <td>{{enrollment.host_details.platform_info.date}}</td>
        </tr>
        <tr>
          <td>Extra</td>
          <td>{{enrollment.host_details.platform_info.extra}}</td>
        </tr>
        <tr>
          <td>Revision</td>
          <td>{{enrollment.host_details.platform_info.revision}}</td>
        </tr>
        <tr>
          <td>Size</td>
          <td>{{enrollment.host_details.platform_info.size}}</td>
        </tr>
        <tr>
          <td>Vendor</td>
          <td>{{enrollment.host_details.platform_info.vendor}}</td>
        </tr>
        <tr>
          <td>Version</td>
          <td>{{enrollment.host_details.platform_info.version}}</td>
        </tr>
        <tr>
          <td>Volume Size</td>
          <td>{{enrollment.host_details.platform_info.volume_size}}</td>
        </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="OS Version Info">
      <table>
        <thead>
        <th>Property</th>
        <th>Value</th>
        </thead>
        <tbody>
        <tr>
          <td>Build</td>
          <td>{{enrollment.host_details.os_version.build}}</td>
        </tr>
        <tr>
          <td>Major</td>
          <td>{{enrollment.host_details.os_version.major}}</td>
        </tr>
        <tr>
          <td>Minor</td>
          <td>{{enrollment.host_details.os_version.minor}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{enrollment.host_details.os_version.name}}</td>
        </tr>
        <tr>
          <td>Patch</td>
          <td>{{enrollment.host_details.os_version.patch}}</td>
        </tr>
        <tr>
          <td>Platform</td>
          <td>{{enrollment.host_details.os_version.platform}}</td>
        </tr>
        <tr>
          <td>Platform Like</td>
          <td>{{enrollment.host_details.os_version.platform_like}}</td>
        </tr>
        <tr>
          <td>Version</td>
          <td>{{enrollment.host_details.os_version.version}}</td>
        </tr>
        </tbody>
      </table>

    </mat-tab>
    <mat-tab label="Pack Data">
      <div class="example-container">

        <mat-accordion class="example-headers-align">
          <mat-expansion-panel *ngFor="let item of packQueryIndex; let i = index;" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
            <mat-expansion-panel-header>
              {{item.query}} : <I>{{item.queryDescription}}</I>
            </mat-expansion-panel-header>

              {{queryData}}

          </mat-expansion-panel>

        </mat-accordion>

        <span>Packs Applied</span>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of packQueryIndex" cdkDrag>{{item.packQueryIndex}}</div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
