<div>
    <div *ngIf="showPack; else notShow">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Packs<span style="float:right;"><button mat-raised-button (click)="showPacks()">New Pack</button></span></mat-card-title>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let pack of packs; let i = index;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>{{pack._id}}</b> : <i>{{pack.description}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <table>
                    <thead>
                        <tr>
                            <th>Query Name</th>
                            <th>Query</th>
                            <th>Query Interval</th>
                            <th>Query Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let query of packs[i].queries;">
                            <td>
                                <mat-form-field>
                                    <input matInput disabled value="{{query._id}}">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput disabled value="{{query.query}}">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput disabled value="{{query.interval}}">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput disabled value="{{query.description}}">
                                </mat-form-field>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <ng-template #notShow>
        <app-addpack></app-addpack>
    </ng-template>
</div>