
.login-container{
  display: block;
  width: 60%;
  margin: 100px auto;
  max-width: 450px;
}
.login-form {
  width: 100%;
}

.login-full-width {
  width: 100%;
}

.mat-card-title{
  padding: 0 15px;
  margin-right: -16px ;
  margin-left: -16px ;
  border-left: 5px solid #3f51b5;
  color: #3f51b5;
  text-align: center;
}

.submit-btn{
  width: 100%;
}
