<div>
    <mat-divider></mat-divider>

    <mat-card class="example-card">
        <mat-card-header>
            <div *ngIf="setupValidationRequired">
                <mat-card-title>FreeOTP App Setup</mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step>
                    <ng-template matStepLabel>Process</ng-template>
            
                    <ul>
                        <li>The password reset is done for the Organization.</li>
                        <li>Opstinuuum does not store Organization's password.</li>
                        <li>User must do 2FA setup before re-setting the password.</li>
                    </ul>
            
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>freeOTP</ng-template>
                    <h5>Install FreeOTP App on your mobile</h5>
                    <table>
                        <tr>
                            <th>iOS</th>
                            <th>Android</th>
                        </tr>
                        <tr>
                            <td><a href="https://itunes.apple.com/us/app/freeotp-authenticator/id872559395?mt=8">
                                <img height="400" width="200" src="https://freeotp.github.io/img/ios.png" alt="iOS"/></a>
                            </td>
                            <td><a href="https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp">
                                <img height="400" width="200" src="https://freeotp.github.io/img/android.png" alt="Android" /></a>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Scan QRCode</ng-template>
                    <h5>Scan the QR Code below using FreeOTP App</h5>
                    <ngx-qrcode 
                        [qrc-value] = "value"
                        qrc-class = "aclass"
                        qrc-errorCorrectionLevel = "L">
                    </ngx-qrcode>
            
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
            
                <mat-step>
                    <ng-template matStepLabel>Validate</ng-template>
                    <h5>Enter the 6 digit number shown on FreeOTP App and validate</h5>
                    <form class="example-form" #userRegistrationForm="ngForm" (ngSubmit)="validateToken()">
            
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Token" [(ngModel)]="token" name="token">
                        </mat-form-field>
                        <button mat-raised-button class="submit-btn" type="submit">Validate</button>
                    </form>
                            
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
                
        </mat-card-content>
    </mat-card>
    
</div>