mat-form-field {
    width: 80%;
}

mat-checkbox {
    width: 80%;
}

td {
    text-align: left; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

form {
    text-align: center;
}

table {
    margin: 0 auto;
    z-index: 1;
    width:50%; 
    height: 50px; 
}