<form #enrollCompanyForm="ngForm" (ngSubmit)="updatePasswordResetService()">
    <section class="example-section">
        <label class="example-margin"><h6>Password Reset Authentication Setup</h6></label>
        <br/>
        <mat-radio-group (change)="onChange($event)" name="passwordResetAuthentication">
            <br/>
            <mat-radio-button class="example-margin" value="openFTPAppAuthentication">Open FTP App Authentication</mat-radio-button>
            <br/>
            <mat-radio-button class="example-margin" value="googleAppAuthentication">Google App Authentication</mat-radio-button>
            <br/>
            <mat-radio-button class="example-margin" value="smsAuthentication">Phone SMS Authentication</mat-radio-button>
            <br/>
            <mat-radio-button class="example-margin" value="whatsAppAuthentication">WhatsApp Message Authentication</mat-radio-button>
            <br/>
        </mat-radio-group>
    </section>
        <br/>
        <button mat-raised-button class="submit-btn" type="submit">Update</button>
</form>
  