<form [formGroup]="showClassGrp" (ngSubmit)="updatePasswordResetService()">
    <label><h6>Password Reset Authentication Setup</h6></label>

    <table>
        <tr><td><mat-checkbox formControlName="openFTPAppAuthentication">Open FTP App Authentication</mat-checkbox></td></tr>
        <tr><td><mat-checkbox formControlName="googleAppAuthentication">Google App Authentication</mat-checkbox></td></tr>
        <tr><td><mat-checkbox formControlName="smsAuthentication">Phone SMS Authentication</mat-checkbox></td></tr>
        <tr><td><mat-checkbox formControlName="whatsAppAuthentication">WhatsApp Message Authentication</mat-checkbox></td></tr>
    </table>
    <br/>
    <button mat-raised-button class="submit-btn" type="submit">Update</button>
</form>
  