
<div class="container">
    <div class="row top-buffer">
        <div class="col-lg-8 col-sm-8">
            <div class="card text-white bg-primary h-100">
                <div class="card-header">Password Reset</div>
                <div class="card-body">
                    <p class="card-text">Using this service user can reset Password.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-8 d-none">
            <div class="card text-white bg-primary h-100">
                <div class="card-header">Single Sign On</div>
                <div class="card-body">
                    <p class="card-text">Provides a token for application to use for Login in.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-lg-8 col-sm-8">
            <div class="card text-white bg-primary h-100">
                <div class="card-header">Endpoint Monitoring</div>
                <div class="card-body">
                    <p class="card-text">Monitoring the endpoints for the organization.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-8 d-none">
            <div class="card text-white bg-primary h-100">
                <div class="card-header">Authorization Service</div>
                <div class="card-body">
                    <p class="card-text">Coming soon ...</p>
                </div>
            </div>
        </div>
    </div>
</div>
