.registration-container{
  display: block;
  width: 70%;
  margin: 30px auto;
  max-width: 650px;
}

.registration-form {
  width: 100%;
}

.registration-full-width {
  width: 100%;
}
.mat-card-title{
  text-align: center;
}

.registration-type{
  float: right;
}

.mat-card-title{
  padding: 0 15px;
  margin-right: -16px ;
  margin-left: -16px ;
  border-left: 5px solid #ff4081;
  text-align: center;
}
